body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar-brand {
    font-weight: bold;
}

nav.navbar {
    position: fixed; 
    top: 0;
    width: 100%
    z-index: 1000;    

/* Social Links */
.social-links {
    text-align: center;
    margin: 20px 0;
}

.social-links a {
    margin: 0 15px; 
}

.social-links img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
